body {
  background-color: #000000;
  opacity: 0.75;
  background-image: linear-gradient(
      30deg,
      #101010 12%,
      transparent 12.5%,
      transparent 87%,
      #101010 87.5%,
      #101010
    ),
    linear-gradient(
      150deg,
      #101010 12%,
      transparent 12.5%,
      transparent 87%,
      #101010 87.5%,
      #101010
    ),
    linear-gradient(
      30deg,
      #101010 12%,
      transparent 12.5%,
      transparent 87%,
      #101010 87.5%,
      #101010
    ),
    linear-gradient(
      150deg,
      #101010 12%,
      transparent 12.5%,
      transparent 87%,
      #101010 87.5%,
      #101010
    ),
    linear-gradient(
      60deg,
      #10101077 25%,
      transparent 25.5%,
      transparent 75%,
      #10101077 75%,
      #10101077
    ),
    linear-gradient(
      60deg,
      #10101077 25%,
      transparent 25.5%,
      transparent 75%,
      #10101077 75%,
      #10101077
    );
  background-size: 48px 84px;
  background-position: 0 0, 0 0, 24px 42px, 24px 42px, 0 0, 24px 42px;
  margin: 0;
  height: 100%;
}

html {
  opacity: unset;
  background-image: linear-gradient(
    to right,
    rgb(0, 1, 68),
    rgb(6, 51, 0),
    rgb(58, 0, 0)
  );

  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

h1 {
  font-weight: 200;
  color: white;
  text-align: center;
  font-size: 50px;
  color: rgb(255, 0, 0);
  text-shadow: black 2px 2px 2px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 50%;
  max-height: 1000px;
  align-items: center;
}

.glitch_container {
  text-align: center;
}

.glitch {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}
/*
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
*/
