body,
html {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgb(49, 49, 49),
    rgb(0, 0, 0)
  );
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

h1 {
  font-style: oblique;
  font-weight: 200;
  color: white;
  text-align: center;
  font-size: 50px;
  color: rgb(197, 0, 0);
  text-shadow: black 2px 2px 2px;
}
