ul {
  list-style-type: none;
  margin: 0px !important;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
  display: inline;
}

li a {
  color: white;
  font-size: 1.6rem;
  font-style: oblique;
  text-shadow: black 3px 3px 2px;
  display: block;
  text-align: center;
  padding: 30px 50px;
  text-decoration: none;
  background-color: transparent;
}

li a:hover {
  color: red;
}

.left_nav {
  float: right;
}
