* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  width: 100%;
  min-width: 100vh;
  overflow: hidden;
}

.forms-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  max-width: 350px;
  width: 100%;
  height: 55px;
  background-color: white;
}

input {
  padding: 5px;
  margin: 12px;
  font-style: oblique;
  border-radius: 5px;
}

.title {
  border-bottom: rgb(109, 0, 0) solid 1px;
  border-radius: 6px;
  margin-top: 90px;
  margin-bottom: 80px;
  font-size: 2.2rem;
  font-style: oblique;
  font-weight: 200;
  text-align: center;
  color: rgba(255, 0, 0, 0.473);
  text-shadow: rgb(119, 0, 255) 1px 2px 1px;
}
