<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Index</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a style="color: red" href="/">Home</a></li>
        <li><a href="posts">Posts</a></li>
        <li><a href="test">Test</a></li>
        <li class="left_nav"><a href="register">Register</a></li>
        <li class="left_nav"><a href="login">Login</a></li>
      </ul>
    </nav>
  </body>
  <h1>Welcome To My Work In Progress</h1>
  <div class="imgContainer">
    <img src="../images/glitch2.jpg" alt="glitchy stuff" />
  </div>
</html>
