<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/register.css" />

    <title>register</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="posts">Posts</a></li>
        <li><a href="test">Test</a></li>
        <li class="left_nav">
          <a style="color: red" href="register">Register</a>
        </li>
        <li class="left_nav"><a href="login">Login</a></li>
      </ul>
    </nav>
    <form>
      <table>
        <tr>
          <td>Username:</td>
          <td><input type="text" username="" /></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input type="mail" email="" /></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="text" password="" /></td>
        </tr>
      </table>
      <input type="submit" class="btn solid" />
    </form>
  </body>
</html>
