<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/register.css" />

    <title>Register</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="posts">Posts</a></li>
        <li><a href="test">Test</a></li>
        <li class="left_nav">
          <a style="color: red" href="register">Register</a>
        </li>
        <li class="left_nav"><a href="login">Login</a></li>
      </ul>
    </nav>
    <form>
   <div class="container">
       <div class="forms-container">
        <div class="singin-singup"></div>
        <form id="signInForm" action="" class="sign-in-form">
            <h2 class="title">Sign Up Bitch</h2>

            <div class="input_field">
              <input id="usernameInput" type="text" value="" placeholder="Username">
          </div>

            <div class="input_field">
                <input id="emailInput" type="text" value="" placeholder="Email">
            </div>

            <div class="input_field">
                <input id="passwordInput" type="password" value="" placeholder="Password">
            </div>

            <input id="loginButton" type="button" class="btn-solid" value="Submit">
        </form>
       </div> 
       <div class="panels-container"></div>
   </div>
  </body>
  <script>
      var signInBtn = document.getElementById("loginButton");
      signInBtn.addEventListener("click", async (e) => {
        
        e.preventDefault()
        var username = document.getElementById("usernameInput").value;
        var email = document.getElementById("emailInput").value;
        var password = document.getElementById("passwordInput").value;

        const response = await fetch("http://localhost:8000/api/user/register", {
            method: "POST",
            headers: { 'Content-Type': 'application/json', 'Accept': '*/*' },
            body: JSON.stringify({'username':username, 'email': email, 'password': password})
        });
        await response.json().then((data) => {
          if (data.length == 24) {
              window.alert("Sucsess!")
              return window.location.href = "http://localhost:8000/login";
              //window.alert(data)
          }
          window.alert(data);

        }, err => {
          if (err) window.alert(data);
        }
        )
        
      })
  </script>
</html>
